body{
    background-color: antiquewhite;
}

a{
    text-decoration: none;
}

.cabecera-principal {
    background-color: antiquewhite;
}

.contenido-principal {
    background-color: antiquewhite;
}

.pie-principal {
    background-color: antiquewhite;
}